.container {
  background-color: blue;
  align-items: center;
}
.stopButton {
  position: relative;
  align-items: center;
  margin: 5%;
}
.startButton {
  position: relative;
  align-items: center;
  margin: 5%;
}
.app {
  background-color: blue;
  text-align: center;
}
.header-class {
  color: aliceblue;
  text-align: center;
}
.text-field {
  margin-top: 10px;
  padding: 10px;
}
