.container {
  align-items: center;
  display: flex;
  margin-top: 20%;
  justify-content: center;
}
.app {
  text-align: center;
}
.header-class {
  color: #800000;
  text-align: center;
}
.text-field {
  margin-top: 10px;
  padding: 10px;
}
.wrapper {
  display: flex;
  flex: 2;
  align-content: space-around;
  justify-content: space-between;
  font-family: "Times New Roman";
}
.generated-text {
  position: relative;
  margin: 10px;
}
.download-link {
  position: relative;
  margin-left: 5px;
}
.download-button {
  border: none;
  background: none;
  cursor: pointer;
  .click {
    border: none;
  }
}
.download {
  height: 30px;
  width: 30px;
}
.generate-button {
  margin-bottom: 10px;
  position: relative;
}
