.container {
  align-items: center;
  display: flex;
  margin-top: 20%;
  justify-content: center;
}
.stopButton {
  position: relative;
  align-items: center;
  margin: 5%;
}
.startButton {
  position: relative;
  align-items: center;
  margin: 5%;
}
.app {
  text-align: center;
}
.header-class {
  color: #800000;
  text-align: center;
}
.text-field {
  margin-top: 10px;
  padding: 10px;
}
